.game-container {
  height: 100svh;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20fr 1fr;
}

.button {
  padding: 1rem 2rem;
  background-color: lightseagreen;
  color: white;
  border-radius: 1rem;
  text-align: center;
  font-size: 2.5rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: teal;
}

.upper-menu {
  padding-bottom: 1rem;
}

.lower-menu {
  padding-top: 1rem;
}

.upper-menu,
.lower-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.pet-container {
  padding: 1rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background-image: url(../media/img/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dark {
  background-image: url(../media/img/night.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}

.pet-container img {
  width: 250px;
  mix-blend-mode: multiply;
}

.stats-container {
  visibility: hidden;
  position: absolute;
}

.visible {
  visibility: visible;
}
